@font-face {
  font-family: "Popins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Popins-Semibold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Popins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Alishia-Mekayla";
  src: url(../fonts/Alishia-Mekayla.otf);
}

* {
  font-family: "Popins-Regular";
  margin: 0;
  padding: 0;
}

.hLink {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

// .max-content-width {
//   max-width: 100%;
//   margin: auto;
//   padding: 0 2%;
// }

#banner-section {
  background-image: url(../images/header.png);
  width: 100%;
  height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem 3rem;
  transition: all 0.3s ease;
  .headerMain {
    display: flex;
    justify-content: space-between;
    .logo-container {
      display: flex;
      align-items: center;
      img {
        width: 150px;
      }
      .logoSession {
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 1rem;
        margin: 0;
        padding-left: 1.5rem;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0%;
          width: 1px;
          height: 50px;
          transform: translateY(-50%);
          background-color: #707070;
        }
      }
    }
    .top-nav {
      display: flex;
      align-items: center;
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        li {
          margin: 0 1.5rem;
          a {
            position: relative;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.7);
            padding-bottom: 0.5rem;
            &::before {
              content: "";
              position: absolute;
              bottom: 5px;
              left: 0px;
              width: 100%;
              height: 4px;
              border-radius: 10px;
              background-color: #0abeb2;
              transform: scale(0);
              transform-origin: center;
              transition: all 0.3s ease;
            }
            &:hover::before {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
  &.grayBG {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 20px #0000000d;
  }

  .burger {
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: fixed;
    top: 31px;
    right: 45px;
    z-index: 99;

    span {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    span,
    span::before,
    span::after {
      display: block;
      width: 30px;
      border-radius: 4px;
      height: 2px;
      background-color: black;
      outline: 1px solid transparent;
      -webkit-transition-property: background-color, -webkit-transform;
      -moz-transition-property: background-color, -moz-transform;
      -o-transition-property: background-color, -o-transform;
      transition-property: background-color, transform;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }

    span::before,
    span::after {
      position: absolute;
      content: "";
      top: 7px;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
    span::before {
      top: -7px;
    }

    &.clicked {
      span {
        background-color: transparent;
        transform: translate(-15px, -2px);
        &::after {
          transform: rotate(135deg);
          top: 2px;
          width: 80%;
        }
        &::before {
          transform: rotate(45deg);
          top: 2px;
          width: 80%;
        }
      }
    }
  }

  nav.csr-nav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    &.show {
      visibility: visible;
      opacity: 1;
    }

    .csr-nav-menu {
      position: absolute;
      top: 0px;
      right: -400px;
      padding: 30px;
      padding-top: 10%;
      height: 100%;
      overflow: auto;
      width: 400px;
      max-width: 100%;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      background-color: white;
      -webkit-transition: all 0.5s ease-out;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      &.show {
        right: 0px;
      }
    }
    .csr-nav-menu ul {
      list-style: none;

      &.hideDesk {
        display: none;
      }
      li {
        display: flex;
        justify-content: center;
        a {
          position: relative;
          text-decoration: none;
          color: black;
          padding: 2rem 0rem 0.5rem;
          font-size: 1.8rem;
          display: block;
          text-transform: uppercase;
          letter-spacing: 0.5rem;
          &::before {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0px;
            width: 100%;
            height: 4px;
            border-radius: 10px;
            background-color: #0abeb2;
            transform: scale(0);
            transform-origin: center;
            transition: all 0.3s ease;
          }
          &:hover::before {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.about-entrepreneur {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding: 8rem 4rem;
  .entrep-image {
    width: 45%;
    img {
      width: 100%;
    }
  }
  .entrep-description {
    width: 45%;
    display: flex;
    align-items: center;
    .name {
      font-family: "Alishia-Mekayla";
    }
  }
}

footer#contact-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 4rem;
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    height: 10px;
    background-color: #f8f8f8;
    border-radius: 4px;
  }
  .logo-container {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0%;
      width: 1px;
      height: 70%;
      transform: translateY(-50%);
      background-color: #707070;
    }
    img {
      width: 350px;
    }
  }
  .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    .name {
      color: #0abeb2;
    }
    .icon-sec {
      display: flex;
      a {
        padding: 0.5rem;
        transform: scale(1);
        transition: all 0.3s ease;
        // display: flex;
        img {
          width: 30px;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.sessionPage {
  padding: 0 8rem;
  .ssContainer {
    // margin-top: 8rem;
    .session-sub {
      position: relative;
      display: flex;
      justify-content: space-between;
      &:first-child {
        padding-top: 8rem;
      }
      &:last-child {
        padding-bottom: 4rem;
        &::before {
          display: none;
        }
      }
      &::before {
        content: "";
        left: -33px;
        bottom: 0;
        border: 1px dashed black;
        width: 69.4%;
        position: absolute;
      }

      .discription {
        position: relative;
        display: flex;
        align-items: center;
        width: 30%;
        padding: 6rem 0;
        .brief {
          position: absolute;
          left: -130px;
          display: flex;
          color: #585858;
          top: 50%;
          background: white;
          padding: 6px;
          transform: rotate(270deg) translateY(-50%);
        }
        &::before {
          content: "";
          left: -38px;
          top: 0;
          border: 1px dashed black;
          height: 100%;
          position: absolute;
        }
      }
      .sliderContianer {
        width: 60%;
        padding: 6rem 0;
        img {
          width: 100%;
        }

        .sessionSlider {
          height: 50vh;
          .slick-track,
          .slick-list {
            height: 100%;
            img {
              padding: 0 2px;
              height: 100%;
            }
          }
          .sliderArr {
            border: none;
            background: rgba(129, 129, 129, 0.5);
            padding: 0.25rem 0.5rem;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            &.prev-arr {
              right: unset;
              left: 0px;
              img {
                left: 0px;
              }
            }
            img {
              width: 10px;
              position: relative;
              left: 0px;
            }
          }
          .slick-dots {
            bottom: 0px;
            li {
              button:before {
                font-size: 1.5rem;
                opacity: 1;
                color: white;
              }
              &.slick-active {
                button:before {
                  color: red;
                }
              }
            }
          }
        }
      }
    }
  }
  #header {
    .headerMain {
      .top-nav {
        ul {
          margin-right: 3rem;
        }
      }
    }
  }
}

.home-page {
  #header {
    .burger {
      display: none;
    }
  }
  .slider-container {
    margin-bottom: 3rem;
    .ttlCntr {
      text-align: center;
      margin-bottom: 2rem;
      .ltlTtl {
        font-family: "Alishia-Mekayla";
        margin: 0;
      }
      .gallSub {
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-size: 1rem;
      }
    }
    #sliderPlay {
      height: 70vh;
      .slick-track,
      .slick-list {
        height: 100%;
        img {
          padding: 0 2px;
          height: 100%;
        }
      }
      .sliderArr {
        border: none;
        background: rgba(129, 129, 129, 0.5);
        padding: 0.5rem 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 9;
        &.prev-arr {
          right: unset;
          left: 0px;
          img {
            left: 0px;
          }
        }
        img {
          width: 10px;
          position: relative;
          left: 0px;
        }
      }
      .slick-dots {
        bottom: 10px;
        li {
          button:before {
            font-size: 1.5rem;
            opacity: 1;
            color: white;
          }
          &.slick-active {
            button:before {
              color: red;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  header .headerMain .top-nav ul li {
    margin: 0 1rem;
  }
  .sessionPage {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 900px) {
  #header {
    padding: 0.5rem 1rem;
    nav.csr-nav {
      .csr-nav-menu {
        ul {
          &.hideDesk {
            display: block;
          }
        }
      }
    }
    .headerMain {
      .mobHide {
        display: none;
      }
      .logo-container {
        img {
          width: 100px;
        }
      }
      .logoSession {
        position: relative;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        font-size: 0.75rem;
        padding-left: 1rem;
        &::before {
          height: 35px;
        }
      }
    }
    .burger {
      top: 20px;
      right: 20px;
    }
  }

  #banner-section {
    height: 700px !important;
  }
  .about-entrepreneur {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    .entrep-image {
      width: 100%;
    }
    .entrep-description {
      width: 100%;
      margin-top: 2rem;
    }
  }
  footer#contact-info {
    flex-direction: column;
    padding: 5rem 2rem 3rem;
    .logo-container {
      padding-bottom: 2rem;
      img {
        width: 100%;
        max-width: 350px;
      }
      &::after {
        top: unset;
        bottom: 0;
        right: unset;
        left: 50%;
        width: 70%;
        height: 1px;
        transform: translateX(-50%);
      }
    }
    .contact-info {
      padding-top: 2rem;
    }
  }
  .home-page {
    #header {
      .burger {
        display: block;
        top: 20px;
        right: 20px;
      }

      nav.csr-nav {
        .csr-nav-menu {
          padding-top: 10rem;
        }
      }
    }
  }
  .sessionPage {
    padding: 0 1rem;
    .ssContainer {
      .session-sub {
        flex-direction: column;
        padding-top: 5rem;
        &::before {
          display: none;
        }
        .discription {
          width: 100%;
          padding: 1rem 0;
          &::before {
            display: none;
          }
          .brief {
            display: none;
          }
        }
        .sliderContianer {
          width: 100%;
          padding: 0;
          .sessionSlider {
            height: 500px;
          }
        }
        &.reverseColumn {
          flex-direction: column-reverse;
        }
      }
    }
    footer#contact-info {
      padding: 5rem 0rem 3rem;
    }
    header nav.csr-nav .csr-nav-menu {
      padding-top: 5rem;
      ul li a {
        padding: 1rem 0rem 0.5rem;
        font-size: 1.5rem;
      }
    }
  }
}
