@font-face {
  font-family: "Popins-Regular";
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Popins-Semibold";
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "Popins-Bold";
  src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Alishia-Mekayla";
  src: url(../fonts/Alishia-Mekayla.otf);
}
* {
  font-family: "Popins-Regular";
  margin: 0;
  padding: 0;
}

.hLink {
  text-decoration: none;
  color: black;
}
.hLink:hover {
  text-decoration: underline;
}

#banner-section {
  background-image: url(../images/header.png);
  width: 100%;
  height: 700px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0.5rem 3rem;
  transition: all 0.3s ease;
}
header .headerMain {
  display: flex;
  justify-content: space-between;
}
header .headerMain .logo-container {
  display: flex;
  align-items: center;
}
header .headerMain .logo-container img {
  width: 150px;
}
header .headerMain .logo-container .logoSession {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1rem;
  margin: 0;
  padding-left: 1.5rem;
}
header .headerMain .logo-container .logoSession::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 1px;
  height: 50px;
  transform: translateY(-50%);
  background-color: #707070;
}
header .headerMain .top-nav {
  display: flex;
  align-items: center;
}
header .headerMain .top-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}
header .headerMain .top-nav ul li {
  margin: 0 1.5rem;
}
header .headerMain .top-nav ul li a {
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 0.5rem;
}
header .headerMain .top-nav ul li a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #0abeb2;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.3s ease;
}
header .headerMain .top-nav ul li a:hover::before {
  transform: scale(1);
}
header.grayBG {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.0509803922);
}
header .burger {
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: fixed;
  top: 31px;
  right: 45px;
  z-index: 99;
}
header .burger span {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
header .burger span,
header .burger span::before,
header .burger span::after {
  display: block;
  width: 30px;
  border-radius: 4px;
  height: 2px;
  background-color: black;
  outline: 1px solid transparent;
  transition-property: background-color, transform;
  transition-duration: 0.3s;
}
header .burger span::before,
header .burger span::after {
  position: absolute;
  content: "";
  top: 7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
header .burger span::before {
  top: -7px;
}
header .burger.clicked span {
  background-color: transparent;
  transform: translate(-15px, -2px);
}
header .burger.clicked span::after {
  transform: rotate(135deg);
  top: 2px;
  width: 80%;
}
header .burger.clicked span::before {
  transform: rotate(45deg);
  top: 2px;
  width: 80%;
}
header nav.csr-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-out;
}
header nav.csr-nav.show {
  visibility: visible;
  opacity: 1;
}
header nav.csr-nav .csr-nav-menu {
  position: absolute;
  top: 0px;
  right: -400px;
  padding: 30px;
  padding-top: 10%;
  height: 100%;
  overflow: auto;
  width: 400px;
  max-width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  transition: all 0.5s ease-out;
}
header nav.csr-nav .csr-nav-menu.show {
  right: 0px;
}
header nav.csr-nav .csr-nav-menu ul {
  list-style: none;
}
header nav.csr-nav .csr-nav-menu ul.hideDesk {
  display: none;
}
header nav.csr-nav .csr-nav-menu ul li {
  display: flex;
  justify-content: center;
}
header nav.csr-nav .csr-nav-menu ul li a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 2rem 0rem 0.5rem;
  font-size: 1.8rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
header nav.csr-nav .csr-nav-menu ul li a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background-color: #0abeb2;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.3s ease;
}
header nav.csr-nav .csr-nav-menu ul li a:hover::before {
  transform: scale(1);
}

.about-entrepreneur {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding: 8rem 4rem;
}
.about-entrepreneur .entrep-image {
  width: 45%;
}
.about-entrepreneur .entrep-image img {
  width: 100%;
}
.about-entrepreneur .entrep-description {
  width: 45%;
  display: flex;
  align-items: center;
}
.about-entrepreneur .entrep-description .name {
  font-family: "Alishia-Mekayla";
}

footer#contact-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 4rem;
}
footer#contact-info::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 10px;
  background-color: #f8f8f8;
  border-radius: 4px;
}
footer#contact-info .logo-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}
footer#contact-info .logo-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  width: 1px;
  height: 70%;
  transform: translateY(-50%);
  background-color: #707070;
}
footer#contact-info .logo-container img {
  width: 350px;
}
footer#contact-info .contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
footer#contact-info .contact-info .name {
  color: #0abeb2;
}
footer#contact-info .contact-info .icon-sec {
  display: flex;
}
footer#contact-info .contact-info .icon-sec a {
  padding: 0.5rem;
  transform: scale(1);
  transition: all 0.3s ease;
}
footer#contact-info .contact-info .icon-sec a img {
  width: 30px;
}
footer#contact-info .contact-info .icon-sec a:hover {
  transform: scale(1.1);
}

.sessionPage {
  padding: 0 8rem;
}
.sessionPage .ssContainer .session-sub {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.sessionPage .ssContainer .session-sub:first-child {
  padding-top: 8rem;
}
.sessionPage .ssContainer .session-sub:last-child {
  padding-bottom: 4rem;
}
.sessionPage .ssContainer .session-sub:last-child::before {
  display: none;
}
.sessionPage .ssContainer .session-sub::before {
  content: "";
  left: -33px;
  bottom: 0;
  border: 1px dashed black;
  width: 69.4%;
  position: absolute;
}
.sessionPage .ssContainer .session-sub .discription {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  padding: 6rem 0;
}
.sessionPage .ssContainer .session-sub .discription .brief {
  position: absolute;
  left: -130px;
  display: flex;
  color: #585858;
  top: 50%;
  background: white;
  padding: 6px;
  transform: rotate(270deg) translateY(-50%);
}
.sessionPage .ssContainer .session-sub .discription::before {
  content: "";
  left: -38px;
  top: 0;
  border: 1px dashed black;
  height: 100%;
  position: absolute;
}
.sessionPage .ssContainer .session-sub .sliderContianer {
  width: 60%;
  padding: 6rem 0;
}
.sessionPage .ssContainer .session-sub .sliderContianer img {
  width: 100%;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider {
  height: 50vh;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .slick-track,
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .slick-list {
  height: 100%;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .slick-track img,
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .slick-list img {
  padding: 0 2px;
  height: 100%;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .sliderArr {
  border: none;
  background: rgba(129, 129, 129, 0.5);
  padding: 0.25rem 0.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .sliderArr.prev-arr {
  right: unset;
  left: 0px;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .sliderArr.prev-arr img {
  left: 0px;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .sliderArr img {
  width: 10px;
  position: relative;
  left: 0px;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .slick-dots {
  bottom: 0px;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .slick-dots li button:before {
  font-size: 1.5rem;
  opacity: 1;
  color: white;
}
.sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider .slick-dots li.slick-active button:before {
  color: red;
}
.sessionPage #header .headerMain .top-nav ul {
  margin-right: 3rem;
}

.home-page #header .burger {
  display: none;
}
.home-page .slider-container {
  margin-bottom: 3rem;
}
.home-page .slider-container .ttlCntr {
  text-align: center;
  margin-bottom: 2rem;
}
.home-page .slider-container .ttlCntr .ltlTtl {
  font-family: "Alishia-Mekayla";
  margin: 0;
}
.home-page .slider-container .ttlCntr .gallSub {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 1rem;
}
.home-page .slider-container #sliderPlay {
  height: 70vh;
}
.home-page .slider-container #sliderPlay .slick-track,
.home-page .slider-container #sliderPlay .slick-list {
  height: 100%;
}
.home-page .slider-container #sliderPlay .slick-track img,
.home-page .slider-container #sliderPlay .slick-list img {
  padding: 0 2px;
  height: 100%;
}
.home-page .slider-container #sliderPlay .sliderArr {
  border: none;
  background: rgba(129, 129, 129, 0.5);
  padding: 0.5rem 1rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}
.home-page .slider-container #sliderPlay .sliderArr.prev-arr {
  right: unset;
  left: 0px;
}
.home-page .slider-container #sliderPlay .sliderArr.prev-arr img {
  left: 0px;
}
.home-page .slider-container #sliderPlay .sliderArr img {
  width: 10px;
  position: relative;
  left: 0px;
}
.home-page .slider-container #sliderPlay .slick-dots {
  bottom: 10px;
}
.home-page .slider-container #sliderPlay .slick-dots li button:before {
  font-size: 1.5rem;
  opacity: 1;
  color: white;
}
.home-page .slider-container #sliderPlay .slick-dots li.slick-active button:before {
  color: red;
}

@media only screen and (max-width: 1024px) {
  header .headerMain .top-nav ul li {
    margin: 0 1rem;
  }
  .sessionPage {
    padding: 0 4rem;
  }
}
@media only screen and (max-width: 900px) {
  #header {
    padding: 0.5rem 1rem;
  }
  #header nav.csr-nav .csr-nav-menu ul.hideDesk {
    display: block;
  }
  #header .headerMain .mobHide {
    display: none;
  }
  #header .headerMain .logo-container img {
    width: 100px;
  }
  #header .headerMain .logoSession {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.75rem;
    padding-left: 1rem;
  }
  #header .headerMain .logoSession::before {
    height: 35px;
  }
  #header .burger {
    top: 20px;
    right: 20px;
  }
  #banner-section {
    height: 700px !important;
  }
  .about-entrepreneur {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
  }
  .about-entrepreneur .entrep-image {
    width: 100%;
  }
  .about-entrepreneur .entrep-description {
    width: 100%;
    margin-top: 2rem;
  }
  footer#contact-info {
    flex-direction: column;
    padding: 5rem 2rem 3rem;
  }
  footer#contact-info .logo-container {
    padding-bottom: 2rem;
  }
  footer#contact-info .logo-container img {
    width: 100%;
    max-width: 350px;
  }
  footer#contact-info .logo-container::after {
    top: unset;
    bottom: 0;
    right: unset;
    left: 50%;
    width: 70%;
    height: 1px;
    transform: translateX(-50%);
  }
  footer#contact-info .contact-info {
    padding-top: 2rem;
  }
  .home-page #header .burger {
    display: block;
    top: 20px;
    right: 20px;
  }
  .home-page #header nav.csr-nav .csr-nav-menu {
    padding-top: 10rem;
  }
  .sessionPage {
    padding: 0 1rem;
  }
  .sessionPage .ssContainer .session-sub {
    flex-direction: column;
    padding-top: 5rem;
  }
  .sessionPage .ssContainer .session-sub::before {
    display: none;
  }
  .sessionPage .ssContainer .session-sub .discription {
    width: 100%;
    padding: 1rem 0;
  }
  .sessionPage .ssContainer .session-sub .discription::before {
    display: none;
  }
  .sessionPage .ssContainer .session-sub .discription .brief {
    display: none;
  }
  .sessionPage .ssContainer .session-sub .sliderContianer {
    width: 100%;
    padding: 0;
  }
  .sessionPage .ssContainer .session-sub .sliderContianer .sessionSlider {
    height: 500px;
  }
  .sessionPage .ssContainer .session-sub.reverseColumn {
    flex-direction: column-reverse;
  }
  .sessionPage footer#contact-info {
    padding: 5rem 0rem 3rem;
  }
  .sessionPage header nav.csr-nav .csr-nav-menu {
    padding-top: 5rem;
  }
  .sessionPage header nav.csr-nav .csr-nav-menu ul li a {
    padding: 1rem 0rem 0.5rem;
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */